# arquivos do quartus
**/**/**/db
**/**/**/incremental_db
**/**/**/output_files
**/**/**/*.qpf
**/**/**/*.qsf

# arquivos de simulação (QuestaSim ou ModelSim)
simulation/modelsim.ini
simulation/work/
simulation/transcript
