# arquivos do quartus
**/**/**/db
**/**/**/incremental_db
**/**/**/output_files
**/**/**/*.qpf
**/**/**/*.qsf
**/**/**/greybox_tmp
**/**/**/*.bak
**/**/**/*.rpt
**/**/**/*.qar
**/**/**/*.qarlog
**/**/**/*.qws
**/**/**/simulation

# arquivos de simulação (QuestaSim ou ModelSim)
simulation/modelsim.ini
simulation/work/
simulation/transcript
simulation/*.wlf
simulation/Makefile
simulation/assembly_converter/program.mif
!simulation/MIFs/*

# arquivos de sintese do Vivado (manter apenas arquivos do usuario)
synthesis/Vivado/*
!synthesis/Vivado/constraints
!synthesis/Vivado/Manifest.py